#purplebackcolor{background-color: #470047; color: #FFFFFF;}/*Purple*/
#goldbackcolor{background-color: #E6B800; }/*Gold*/
#whitebackground{background-color: #FFFFFF;}
#solidborder{border-style: groove; text-align: center;}
#midcentering{text-align: center;}

/*Below are for temporary reasons*/
#tempcolor{background-color: #CCCCFF;}
#gracename{color: #9900CC; font-size: 600%;}

.passive{
{
border-style:solid;
border-width:5px;
}
#special{width: 100%; height:100%;}
#blacknavbarcustom{background-color: black;}

.center{text-align: center;}
.pageheads{text-align: center;}