body{
	background-color: #F0F0F0;
}

.sitecontainer{
	background-color:#F0F0F0;
}

.themecolor{
	background-color:#336699;
}

.image{
	background-image: url("dove.jpg.");
}

.GGC100years{
	background-color:#D4A017;
}

.navbarpadding{
	margin-left: 190px;
}

.scheduleofevents{
	border: 2px solid;
	border-color: #330066;
	color: #660066;
}

.blockbarsettings{
	background-color: red;
	text-align: center;
}

.eventsdetails{
	color:#606060;	
	font-style: italic;
	margin: 5px;
	text-align: center;
}

.daysofevents{
	/*color:#006699;*/
	color:#330066;
	text-decoration:underline;
	font-style: italic;
	font-style: bold;
	text-align: center;
}

.center{
	text-align:center;
}

.timedate{
	color:#330066;
}

.themephrase{
	color:#330066;
	text-align: center;
}

.blockbarlinks{
	color:#330066;
}

.purple{
	color:#330066;
}

.brown{
	color: #663300;
}

.para{
	color:color:#606060;
}

#churchnametitle1{
	color:#330066;
	text-align:center;
	font-family: After Shok;
}

#motto{
	font-family: sans-serif;
	margin: 20px;
	color: #660066;
}

#verse{
	color:#AB1313;
}

#usingsite{
	color:#660066;
	margin: 20px;
}

#piclefttop{
	position: absolute;
	left: 10px;
	top: 150px;
}

#picleftbottom{
	position: absolute;
	left: 10px;
	top: 600px;	
}

#picrighttop{
	position: absolute;
	right: 10px;
	top: 150px;
}

#picrightbottom{
	position: absolute;
	right: 10px;
	top: 600px;
}