.blockbarlinks{ color:#330066;}
.blockbarsettings{ background-color: #FFFF00; text-align: center; max-width: 1190px;}
.brown{ color: #663300;}
.center{ text-align:center;}
.daysofevents{ color:#330066; text-decoration:underline; font-style: italic; font-style: bold; text-align: center;}
.decades{ margin-left: 20px; padding: 20px;}
.eventsdetails{	color:#606060; font-style: italic; margin: 5px; text-align: center;}
.navbarpadding{ margin-left: 50px;}
.para{ color:color:#606060;}
.purple{ color:#330066;}
.scheduleofevents{border: 2px solid; border-color: #330066; color: #660066;}
.sitecontainer{	background-color:#F0F0F0; max-width: 1160px;}
.themephrase{ color:#330066; text-align: center;}
.timedate{ color:#330066;}

#churchnametitle1{ color:#330066; font-family: Times New Roman; font-size: 12pt;}
#motto{ font-family: sans-serif; margin: 20px; color: #660066;}
#picleftbottom{ position: absolute; left: 10px; top: 600px;}
#piclefttop{ position: absolute; left: 10px; top: 150px;}
#picrightbottom{ position: absolute; right: 10px; top: 600px;}
#picrighttop{ position: absolute; right: 10px; top: 150px;}
#usingsite{ color:#660066; margin: 20px;}
#verse{ color:#AB1313;}