#purplebackcolor{background-color: #470047; color: #FFFFFF;}/*Purple*/
#goldbackcolor{background-color: #E6B800; }/*Gold*/
#whitebackground{background-color: #FFFFFF;}
#solidborder{border-style: groove; text-align: center;}
#midcentering{text-align: center;}

#special{width: 100%; height:100%;}