body{background-image: url('dove.jpg');}

#purplebackcolor{background-color: #470047; color: #FFFFFF;}/*Purple*/
#goldbackcolor{background-color: #E6B800; }/*Gold*/
#whitebackground{background-color: #FFFFFF;}
#solidborder{border-style: groove; text-align: center;}
#midcentering{text-align: center;}

#special{width: 100%; height:100%;}
#blacknavbarcustom{background-color: black;}

.center{text-align: center;}
.pageheads{text-align: center;}